/*
Creator: Ryan Kramer
Date created: 7/6/2020
Date last modified: 7/9/2020
*/

header, footer { /*Note: Assignement specs seem to indicate header/footer/nav should be left white?*/
    text-align: center;
    padding-top: 20px;
}
noscript {
    display: block;
    color: crimson;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    color: #640000;
}
nav a {
    background-color: #640000;
    color: white;
    display: block;
    float: left;
    margin: 0px 10px;
}
nav a:active {
    text-decoration: none;
}
nav a:hover {
    font-weight: bold;
    color: white;
}
nav a:visited {
    color: #d4d0aa;
}
.jumbotron {
    text-align: center;
    font-size: 1.5em;
    padding: 20px;
    background-color: #640000;
    color: white;
}
.clear-float {
    clear:both;
}